influxdb/data/

mosquitto/data/
mosquitto/log/

grafana/data/

nodered/data/node_modules/
nodered/data/lib/
nodered/data/.config.*
nodered/data/.npm
!nodered/data/flows.json
!nodered/data/settings.js
!nodered/data/package.json